# Managed by Ansible - redis-tool
# Generated for {{ inventory_hostname }}

bind {{ redis_bind_address }}
port {{ redis_port }}
protected-mode no
daemonize yes

dir {{ redis_data_dir }}
dbfilename dump.rdb

logfile "{{ redis_log_dir }}/redis-server.log"
pidfile {{ redis_pid_file }}

cluster-enabled yes
cluster-config-file nodes-{{ redis_port }}.conf
cluster-node-timeout {{ redis_cluster_node_timeout }}

maxmemory {{ redis_maxmemory }}
maxmemory-policy allkeys-lru

appendonly yes
appendfilename "appendonly.aof"